-e ./libs/plotsense
numpy
pandas
matplotlib
seaborn
pytest
python-dotenv
ipykernel
groq
requests
setuptools
jupyter
pytest-cov
pytest-mock
flake8
autopep8
black
pre-commit
# Add any additional dependencies your project requires below
# For example:
# scikit-learn
scikit-learn
xgboost